.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
}
/* .menu {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin-right: 200px;
} */