@tailwind base;
@tailwind components;
@tailwind utilities;


Products {
  margin-top: 150px;
}

.background {
  background: rgb(232,232,224);
  background: linear-gradient(90deg, rgba(232,232,224,1) 0%, rgba(255,255,255,1) 54%, rgba(255,255,253,1) 100%); 
}
.bg-discount-gradient {
  background: linear-gradient(125.17deg, #605f5f 0%, #11101d 100%);
}
.bg-bg {
  background-color: #FFCC01;
}